<app-header titulo="Cards"></app-header>
<ion-content class="ion-padding">
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more,
      nothing less.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Awesome Label</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni explicabo
      sed magnam, rem dignissimos harum illum fugit nobis, natus obcaecati id
      nam! Veniam veritatis dolorem aperiam assumenda earum amet a!
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img
      alt="Silhouette of mountains"
      src="/assets/kratos.jpg"
    />
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more,
      nothing less.
    </ion-card-content>
  </ion-card>
</ion-content>
